<div class="home">

    <!-- Header Backdrop -->
    <div class="image-backdrop text-center">
        <span class="social-intuition-text si-font-theme-light">
            <div class="wow slideInDown">Social</div>
            <div class="wow slideInUp">Intuition</div>
        </span>
    </div>

    <!-- Page Contents -->
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">

                <!-- Signup Button -->
                <div class="row cushion-20-top">
                    <div class="col-xs-12">
                        <a href="#/signup"
                           class="btn btn-primary btn-lg btn-block">
                            <span class="si-icon-open-sign si-ico-font-size"></span>
                            Sign up NOW - IT'S EASY!
                        </a>
                    </div>
                </div>

                <div class="row cushion-20-top">
                    <div class="col-md-offset-3 col-md-6 text-center">
                        <i>Or...</i>
                    </div>
                </div>

                <!-- Get in Apple Store Button -->
                <div class="row cushion-20-top text-center">
                    <div class="col-xs-12">
                        <a href="https://itunes.apple.com/us/app/social-intuition/id1325684613?ls=1&mt=8"
                           target="_blank"
                           class="apple-store-logo-container">
                            <img src="r/images/app-store-logo.png"
                                class="apple-store-logo-container">
                        </a>
                    </div>
                </div>

                <!-- How it Works -->
                <div class="row" id="howitworks">
                    <div class="col-xs-12">
                        <div class="row bottom-separator cushion-10">
                            <div class="col-xs-12">
                                <h1 class="si-font-theme-light">
                                    How it Works
                                </h1>
                            </div>
                        </div>
                        <div class="row bottom-separator hiw-item">
                            <div class="col-xs-12 col-md-5">
                                <h4><span class="cushion-5-right">1.</span>Think of an intuition.</h4>
                                <span class="text-muted">
                                    An intuition is a prediction.
                                    Catch yourself when you have a strong feeling that something will happen in the future.
                                </span>
                            </div>
                            <div class="col-xs-12 col-md-7 hiw-item-head-idea-lightbulb-grid text-center">
                                <span class="si-icon-head-idea-lightbulb hiw-item-head-idea-lightbulb si-ico-font-size-700"></span>
                            </div>
                        </div>
                        <div class="row bottom-separator cushion-10">
                            <div class="col-xs-12 col-md-5">
                                <h4><span class="cushion-5-right">2.</span>Capture it on Social Intuition.</h4>
                                <span class="text-muted">
                                    Write up your intuition on Social Intuition with all potential outcomes and your
                                    predicted outcome.
                                </span>
                            </div>
                            <div class="col-xs-12 col-md-7">
                                <div class="hiw-captures owl-carousel">
                                    <div class="well well-sm">
                                        <blockquote class="si-font-decorated-thin">
                                            <p class="ng-binding">
                                                <i class="fa fa-quote-left pull-left text-muted"></i>
                                                What should my costume be for Halloween?
                                                <i class="fa fa-quote-right text-muted"></i>
                                            </p>
                                            <footer><cite title="Hailey Grace" class="ng-binding">Hailey Grace</cite></footer>
                                        </blockquote>
                                    </div>
                                    <div class="well well-sm">
                                        <blockquote class="si-font-decorated-thin cushion-15-top">
                                            <p class="ng-binding">
                                                <i class="fa fa-quote-left pull-left text-muted"></i>
                                                My family will be moving to New York next year.
                                                <i class="fa fa-quote-right text-muted"></i>
                                            </p>
                                            <footer><cite title="Jacob McFellon" class="ng-binding">Jacob McFellon</cite></footer>
                                        </blockquote>
                                    </div>
                                    <div class="well well-sm">
                                        <blockquote class="si-font-decorated-thin cushion-15-top">
                                            <p class="ng-binding">
                                                <i class="fa fa-quote-left pull-left text-muted"></i>
                                                Who will be the winner of the Minecraft tournament?
                                                <i class="fa fa-quote-right text-muted"></i>
                                            </p>
                                            <footer><cite title="Jacob McFellon" class="ng-binding">Jacob McFellon</cite></footer>
                                        </blockquote>
                                    </div>
                                    <div class="well well-sm">
                                        <blockquote class="si-font-decorated-thin cushion-15-top">
                                            <p class="ng-binding">
                                                <i class="fa fa-quote-left pull-left text-muted"></i>
                                                Who will be Homecoming Queen?
                                                <i class="fa fa-quote-right text-muted"></i>
                                            </p>
                                            <footer><cite title="Emma Lilly" class="ng-binding">Emma Lilly</cite></footer>
                                        </blockquote>
                                    </div>
                                    <div class="well well-sm">
                                        <blockquote class="si-font-decorated-thin cushion-15-top">
                                            <p class="ng-binding">
                                                <i class="fa fa-quote-left pull-left text-muted"></i>
                                                Game of thrones Bran Stark will return!
                                                <i class="fa fa-quote-right text-muted"></i>
                                            </p>
                                            <footer><cite title="Ethan Hank" class="ng-binding">Ethan Hank</cite></footer>
                                        </blockquote>
                                    </div>
                                    <div class="well well-sm">
                                        <blockquote class="si-font-decorated-thin cushion-15-top">
                                            <p class="ng-binding">
                                                <i class="fa fa-quote-left pull-left text-muted"></i>
                                                I will pass my driving test on the first try.
                                                <i class="fa fa-quote-right text-muted"></i>
                                            </p>
                                            <footer><cite title="Madison Stepolous" class="ng-binding">Madison Stepolous</cite></footer>
                                        </blockquote>
                                    </div>
                                    <div class="well well-sm">
                                        <blockquote class="si-font-decorated-thin cushion-15-top">
                                            <p class="ng-binding">
                                                <i class="fa fa-quote-left pull-left text-muted"></i>
                                                Ben Pappas will win the Tony Hawk skateboarding championship.
                                                <i class="fa fa-quote-right text-muted"></i>
                                            </p>
                                            <footer><cite title="Nick Williams" class="ng-binding">Nick Williams</cite></footer>
                                        </blockquote>
                                    </div>
                                    <div class="well well-sm">
                                        <blockquote class="si-font-decorated-thin cushion-15-top">
                                            <p class="ng-binding">
                                                <i class="fa fa-quote-left pull-left text-muted"></i>
                                                Michael will ask me to the prom.
                                                <i class="fa fa-quote-right text-muted"></i>
                                            </p>
                                            <footer><cite title="Ava Taylor" class="ng-binding">Ava Taylor</cite></footer>
                                        </blockquote>
                                    </div>
                                    <div class="well well-sm">
                                        <blockquote class="si-font-decorated-thin cushion-15-top">
                                            <p class="ng-binding">
                                                <i class="fa fa-quote-left pull-left text-muted"></i>
                                                What night should the Christmas party be?
                                                <i class="fa fa-quote-right text-muted"></i>
                                            </p>
                                            <footer><cite title="Ava Taylor" class="ng-binding">Ava Taylor</cite></footer>
                                        </blockquote>
                                    </div>
                                    <div class="well well-sm">
                                        <blockquote class="si-font-decorated-thin cushion-15-top">
                                            <p class="ng-binding">
                                                <i class="fa fa-quote-left pull-left text-muted"></i>
                                                The Dallas Cowboys will beat the Green Bay Packers this weekend.
                                                <i class="fa fa-quote-right text-muted"></i>
                                            </p>
                                            <footer><cite title="Dylan Thomas" class="ng-binding">Dylan Thomas</cite></footer>
                                        </blockquote>
                                    </div>
                                    <div class="well well-sm">
                                        <blockquote class="si-font-decorated-thin cushion-15-top">
                                            <p class="ng-binding">
                                                <i class="fa fa-quote-left pull-left text-muted"></i>
                                                My parents will get me a car for my 16th birthday.
                                                <i class="fa fa-quote-right text-muted"></i>
                                            </p>
                                            <footer><cite title="Mia Miller" class="ng-binding">Mia Miller</cite></footer>
                                        </blockquote>
                                    </div>
                                    <div class="well well-sm">
                                        <blockquote class="si-font-decorated-thin cushion-15-top">
                                            <p class="ng-binding">
                                                <i class="fa fa-quote-left pull-left text-muted"></i>
                                                The Bears will make it to Super Bowl 2016.
                                                <i class="fa fa-quote-right text-muted"></i>
                                            </p>
                                            <footer><cite title="Connor McHall" class="ng-binding">Connor McHall</cite></footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row bottom-separator cushion-10">
                            <div class="col-xs-12 col-md-5">
                                <h4><span class="cushion-5-right">3.</span>Wait and see.</h4>
                                <span class="text-muted">
                                    Allow time to pass and wait for the outcome to happen.
                                    Could be a short time, could be long time.
                                </span>
                            </div>
                            <div class="col-xs-12 col-md-7 cushion-10-bottom">
                                <article class="clock">
                                    <div class="hours-container">
                                        <div class="hours"></div>
                                    </div>
                                    <div class="minutes-container">
                                        <div class="minutes"></div>
                                    </div>
                                    <div class="seconds-container">
                                        <div class="seconds"></div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="row bottom-separator cushion-10">
                            <div class="col-xs-12 col-md-5">
                                <h4><span class="cushion-5-right">4.</span>Set the outcome.</h4>
                                <span class="text-muted">
                                    Set the actual outcome in Social Intuition. Be Honest.
                                    You will be able to compare your intuition with the actual outcome. If others can see the outcome, then they can share comments.
                                </span>
                            </div>
                            <div class="col-xs-12 col-md-7 cushion-15-bottom">
                                <a href="" id="outcomesGallery">
                                    <div id="box">
                                        <div id="overlay">
                                            <span id="plus">+</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row cushion-10">
                            <div class="col-xs-12 col-md-5">
                                <h4><span class="cushion-5-right">5.</span>Track your accuracy.</h4>
                                <span class="text-muted">
                                    See your accuracy of intuitions over time for both yourself and friends.
                                    Over time your accuracy of intuitions will go up and down. Trace it and reflect along the way.
                                </span>
                            </div>
                            <div class="col-xs-12 col-md-7 text-center">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <div easypiechart options="pieChartOptions" percent="70" class="chart">
                                            <span class="percent si-font-decorated-medium">70</span>
                                        </div>
                                        <div class="si-font-decorated h6">
                                            Your Average
                                            <p class="cushion-5-top h6 text-muted">7 of 10 correct</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <div easypiechart options="pieChartOptions" percent="63" class="chart">
                                            <span class="percent si-font-decorated-medium">63</span>
                                        </div>
                                        <div class="si-font-decorated h4">
                                            Total Average
                                            <p class="cushion-5-top h6 text-muted">24 of 38 correct</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <div easypiechart options="pieChartOptions" percent="35" class="chart">
                                            <span class="percent si-font-decorated-medium">35</span>
                                        </div>
                                        <div class="si-font-decorated h6">
                                            Cohort Average
                                            <p class="cushion-5-top h6 text-muted">7 of 20 correct</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Features -->
                <div class="row" id="features">
                    <div class="col-xs-12 ">
                        <div class="row bottom-separator">
                            <div class="col-xs-12">
                                <h1 class="si-font-theme-light">
                                    Features
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 text-center cushion-10-top">
                        <p><span class="si-icon-head-idea-lightbulb si-ico-font-size-lg color-primary"></span></p>
                        <h3 class="si-font-theme-light no-top-margin">INTUITIONS</h3>
                        <p class="text-muted">
                            An intuition is a prediction. The ability to understand something immediately.
                            Recognize significant and trivial events-to-come and capture them in Social Intuition.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 text-center cushion-10-top">
                        <p><span class="si-icon-signal si-ico-font-size-lg color-primary"></span></p>
                        <h3 class="si-font-theme-light no-top-margin">OUTCOMES</h3>
                        <p class="text-muted">
                            Some day, some time, an outcome to your intuition will happen, which then proves your intuition was right or wrong.
                            When it happens - set the outcome in Social Intuition.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 text-center cushion-10-top">
                        <p><span class="si-icon-pie-chart si-ico-font-size-lg color-primary"></span></p>
                        <h3 class="si-font-theme-light no-top-margin">TRACK ACCURACY</h3>
                        <p class="text-muted">
                            Track the outcome correctness of your intuitions over time.
                            You will be able to tell how accurate your intuition really is.
                            Track your intuition accuracy, your intuition of cohorts' intuitions and an overall average.
                        </p>
                    </div>
                </div>
                <div class="row cushion-20-top">
                    <div class="col-xs-12 col-sm-4 text-center cushion-10-top">
                        <p><span class="si-icon-users si-ico-font-size-lg color-primary"></span></p>
                        <h3 class="si-font-theme-light no-top-margin">COHORTS</h3>
                        <p class="text-muted">
                            Cohorts are basically friends. Enough said.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 text-center cushion-10-top">
                        <p><span class="si-icon-ticket si-ico-font-size-lg color-primary"></span></p>
                        <h3 class="si-font-theme-light no-top-margin">VOTE ON INTUITIONS</h3>
                        <p class="text-muted">
                            You can vote on the outcome of cohort intuitions.
                            The outcome may optionally count for correctness on cohort accuracy.
                            You may also contribute possible outcomes for cohort intuitions.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 text-center cushion-10-top">
                        <p><span class="si-icon-mobile si-ico-font-size-lg color-primary"></span></p>
                        <h3 class="si-font-theme-light no-top-margin">MOBILE WEB HERE</h3>
                        <h5>APPLE & ANDROID COMING SOON</h5>
                        <p class="text-muted">
                            Get going on your mobile and desktop browser! Apple and Android coming soon.
                        </p>
                    </div>
                </div>

                <!-- Signup Button -->
                <div class="row cushion-20-top">
                    <div class="col-xs-12">
                        <a href="#/signup"
                           class="btn btn-primary btn-lg btn-block">
                            <span class="si-icon-open-sign si-ico-font-size"></span>
                            Sign up NOW - IT'S EASY!
                        </a>
                    </div>
                </div>

                <!-- Contact -->
                <div class="row cushion-15-top">
                    <div class="col-xs-12">
                        <div class="row bottom-sepa rator">
                            <div class="col-xs-12 cushion-10-bottom">
                                <h1 class="si-font-theme-light">
                                    Leave a message
                                    <small class="pull-right cushion-5-top">Anything you had in-mind.</small>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 cushion-15-top">
                        <form name="feedbackForm" novalidate>
                        <div class="row" ng-show="isFeedbackSubmitted">
                            <div class="col-xs-12 cushion-10-top">
                                <div class="alert alert-success alert-dismissible text-success" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <span class="si-icon-check"></span>
                                    Messaged received. Thank you.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 form-group">
                                <label for="name" class="pull-left">Name</label>
                                <input id="name"
                                       name="name"
                                       type="text"
                                       class="form-control input-lg"
                                       maxlength="50"
                                       required
                                       ng-model="feedback.name"
                                       ng-disabled="isFeedbackSubmitted"
                                        />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 form-group">
                                <label for="email" class="pull-left">Email</label>
                                <input id="email"
                                       name="email"
                                       type="email"
                                       class="form-control input-lg"
                                       maxlength="75"
                                       required
                                       ng-model="feedback.email"
                                       ng-disabled="isFeedbackSubmitted"
                                        />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 form-group">
                                <label for="comment" class="pull-left">Comment</label>
                            <textarea id="comment"
                                      name="comment"
                                      class="form-control"
                                      rows="5"
                                      maxlength="500"
                                      required
                                      ng-model="feedback.comment"
                                      ng-disabled="isFeedbackSubmitted"
                                    >
                            </textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 form-group">
                                <button type="submit"
                                        class="btn btn-primary btn-lg btn-block"
                                        ng-disabled="feedbackForm.$invalid || isFeedbackSubmitted || isFeedbackSubmitting"
                                        ng-click="submitFeedback()"
                                        >
                                    <span class="si-icon-cw-clockwise fa-spin" ng-show="isFeedbackSubmitting"></span>
                                    SEND
                                </button>
                            </div>
                        </div>
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-6 text-center">
                        <h1 class="contact-social-intuition-text color-primary si-font-theme-light si-ico-font-size-700">
                            <div>Social</div>
                            <div>Intuition</div>
                        </h1>
                    </div>
                </div>

                <!-- Scrolltop Button -->
                <div class="row">
                    <div class="col-xs-12">
                        <a class="btn btn-primary btn-sm scroll-top-btn pull-right" ng-click="scrollTop()">
                            <span class="si-icon-button-arrow-up si-ico-font-size-sm"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>