<div class="container cushion-40-top">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 well">
            <div ng-if="intuitionLoaded">
                <intuition intuition-dto="intuitionDto"
                           reset-intuition-dto="resetIntuitionDto"
                           share="share"></intuition>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-3 text-center">
            <a href="https://itunes.apple.com/us/app/social-intuition/id1325684613?ls=1&mt=8"
               target="_blank"
               class="apple-store-logo-container">
                <img src="r/images/app-store-logo.png"
                     class="apple-store-logo-container">
            </a>
        </div>
        <div class="col-xs-12 col-sm-3 text-center cushion-10-top">
            <a href="#/signup" class="btn btn-primary btn-block btn-lg" ng-if="!isLoggedIn">
                SIGN UP
                <span class="si-icon-button-arrow-right si-ico-font-size-xs"></span>
            </a>
            <a href="#/" class="btn btn-primary btn-block btn-lg" ng-if="isLoggedIn">
                To Community Feed
                <span class="si-icon-button-arrow-right si-ico-font-size-xs"></span>
            </a>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>



